{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Cliente</title>
    <!-- adiciona o css -->
    <link rel="stylesheet" href="{% static 'clientes/css/style_cadastrar.css' %}">
</head>
<body>
    <div class="container">
        <h1>Cadastro de Cliente</h1>
        <form id="cadastroForm" method="POST" onsubmit="return validarFormulario(event)">
            {% csrf_token %}
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" required>
            <div id="errorNome" class="error"></div>

            <label for="cpf">CPF:</label>
            <input type="text" name="cpf" id="cpf" required oninput="formatarCPF(this)">
            <div id="errorCpf" class="error"></div>

            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
            <div id="errorEmail" class="error"></div>

            <label for="celular">Celular:</label>
            <input type="text" name="celular" id="celular" required oninput="formatarTelefone(this)">
            <div id="errorCelular" class="error"></div>

            <button type="submit" class="btn btn-cadastrar">Cadastrar</button>
        </form>
        <a onclick="window.history.back()" class="btn btn-voltar">Voltar</a>
    </div>
    <script src="{% static 'clientes/js/data_validation.js' %}"></script>
</body>
</html>
